<div class="pro-finder__header">
  <mat-toolbar class="header__toolbar">
    <mat-toolbar-row class="header__toolbar-row1">
      <div>
        <span class="header__title">You got a project?</span>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="header__toolbar-row2">
      <div>
        <i class="fa fa-hammer fa-3x pro-finder__build-icon"></i>
        <span class="header__title">Find someone who can help you!</span>
        <i class="fas fa-paint-roller fa-3x pro-finder__build-icon"></i>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
