.footer__toolbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: cadetblue;
}

.footer__title {
  display: flex;
  font-family: "Times New Roman";
  font-weight: bold;
}
